.careers {
  padding: 0 0 125px;
}
.careers > .container {
  height: 52vw;
}
.careers-header {
  position: relative;
  padding: 0 0 80px;
  height: 13vw;
}

.careers-header h2 {
  display: block;
  font-family: "NEXNON Lv2 Gothic bold";
  font-weight: 700;
  font-size: 65px;
  text-align: left;
  line-height: 1;
  margin: 0;
}

.support {
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 40px;
  font-size: 24px;
  z-index: 1;
  font-family: "NEXNON Lv2 Gothic bold";
  font-weight: 400;
  transition: transform 0.2s ease;
}

.support::before {
  position: absolute;
  bottom: 7px;
  left: 0;
  content: "";
  height: 35%;
  width: 72%;
  background: #019fe8;
  z-index: -1;
}
.support:hover {
  transform: translateX(10px);
}
.careers-detail {
  position: relative;
}
.careers-detail img {
  left: 0;
  width: 100%;
}
.careers-text {
  position: absolute;
  bottom: -20%;
  left: 0;
  padding: 4vw 5vw 0 0;
  text-align: left;
  font-family: "NEXNON Lv2 Gothic bold";
  font-weight: 400;
  font-size: 36px;
  line-height: 2.7vw;
  background: #ffffff;
}
@media screen and (max-width: 1345px) {
  .careers > .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1280px) {
  .careers-header h2 {
    font-size: 5.5vw;
    padding-bottom: 6vw;
  }
  .support {
    font-size: 2vw;
  }
  .careers-text {
    font-size: 2.6vw;
  }
}
@media screen and (max-width: 1200px) {
  .careers-header h2 {
    font-size: 5.5vw;
    padding-bottom: 6vw;
  }
  .support {
    font-size: 2vw;
  }
}
@media screen and (max-width: 767px) {
  .support {
    font-size: 3vw;
    top: 2vw;
  }
  .careers-text {
    font-size: 3.2vw;
    line-height: 3.5vw;
  }
}
