.footer {
    background: #f3f3f3;
}
.footer > hr {
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    border: 0;
}
.footer-up {
    padding: 50px 0;
    display: flex;
}
.footer-up-left {
    width: 50%;
    text-align: left;
    height: 251.19px;
}
.footer-logo {
    margin: 0 0 30px;
}
.footer-up-left p {
    font-family: "NEXON Lv2 Gothic Light";
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #999999;
    margin: 0 0 15px;
}
.footer-up-right {
    width: 50%;
    text-align: left;
}
.footer-up-right-menu {
    display: flex;
}
.footer-up-right-menu > li {
    margin: 0 65px 0 0;
    display: block;
}
.footer-up-right-menu > li > a {
    margin: 0 0 15px;
    display: inline-block;
}
.footer-submenu > li {
    margin: 0 0 3px;
    display: block;
}
.footer-submenu > li > a {
    color: #999999;
    font-size: 14px;
    white-space: nowrap;
    transition: color 0.2s;
}
.footer-submenu > li > a:hover {
    color: #222222;
}
.footer-down {
    padding: 30px 0;
    display: flex;
    margin: 0 auto;
    width: 1280px;
}
.footer-down p {
    text-align: left;
    font-family: "NEXON Lv2 Gothic Light";
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}
.footer-down button {
    border: none;
    margin-left: auto;
    background: none;
    width: 220px;
    text-align: left;
    position: relative;
    font-size: 14px;
    color: #999999;
}
.footer-down button::after {
    content: '▲';
    position: absolute;
    right: 0;
}
.footer-down button:hover {
    cursor: pointer;
}
.footer-down-menu {
    display: none;
}