.footer {
  background: #f3f3f3;
}
.footer > hr {
  background: rgba(0, 0, 0, 0.1);
  height: 1px;
  border: 0;
}
.footer-up {
  display: flex;
  padding: 50px 0;
}
.footer-up-left {
  width: 50%;
  text-align: left;
  height: 251.19px;
}
.footer-logo {
  margin: 0 0 30px;
}
.footer-up-left p {
  font-family: "NEXON Lv2 Gothic Light";
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
  margin: 0 0 15px;
}
.footer-up-right {
  width: 50%;
  text-align: left;
}
.footer-up-right-menu {
  display: flex;
}
.footer-up-right-menu > li {
  display: block;
  margin: 0 65px 0 0;
}
.footer-up-right-menu > li > a {
  display: inline-block;
  margin: 0 0 15px;
}
.footer-submenu > li {
  display: block;
  margin: 0 0 3px;
}
.footer-submenu > li > a {
  color: #999999;
  font-size: 14px;
  white-space: nowrap;
  transition: color 0.2s;
}
.footer-submenu > li > a:hover {
  color: #222222;
}
.footer-down {
  display: flex;
  position: relative;
  padding: 30px 0;
  margin: 0 auto;
  width: 1280px;
}
.footer-down p {
  text-align: left;
  font-family: "NEXON Lv2 Gothic Light";
  font-weight: 400;
  font-size: 14px;
  color: #999999;
}
.family-site {
  font-family: "NEXON Lv2 Gothic";
  border: none;
  margin-left: auto;
  background: none;
  width: 220px;
  text-align: left;
  font-size: 14px;
  color: #999999;
  z-index: 1;
}
.family-site::before {
  position: absolute;
  right: 0;
  bottom: 50px;
  content: ""; 
  width: 220px; 
  height: 20px; 
  background-color: transparent;
}
.family-site::after {
  position: absolute;
  right: 0;
  content: "▲";
}
.family-site:hover {
  cursor: pointer;
}
.footer-down-submenu {
    display: none;
    position: absolute;
    right: 0;
    bottom: 80%;
    background: #f1f1f1;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    width: 220px;
}
.footer-down-submenu li {
    width: 220px;
    height: 37px;
}
.footer-down-submenu > li:hover {
  background: #ddd;
}
.footer-down-submenu > li > a {
  display: block;
  font-size: 12px;
  color: #000000;
  padding: 12px 16px;
}
.family-site:hover .footer-down-submenu {
    display: block;
}