/* 상단종합 */
.header {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0 70px;
  overflow: hidden;
  background: #fff;
  transition: height 0.4s;
  z-index: 999;
}
.header-active {
  height: 370px !important;
}
.background {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  background: #f8f8f8;
  width: 100%;
  height: 300px;
}
/* //상단종합 */

/* 상단로고 */
.header-logo {
  position: absolute;
  top: 12px;
}
/* //상단로고 */

/* 상단메뉴 */
.header-nav {
  position: absolute;
  left: 33%;
  width: 625px;
  height: 70px;
  text-align: center;
}
.nav-gnb {
  display: flex;
  justify-content: center;
}
.nav-gnb > li {
  position: relative;
  margin-left: 75px;
}
.nav-gnb > li:first-child {
  margin: 0;
}
.nav-gnb > li > a {
  text-align: center;
  font-family: "NEXNON Lv2 Gothic bold";
  font-size: 21px;
  line-height: 70px;
  font-weight: 400;
  color: #222222;
}
.gnb-submenu {
  position: absolute;
  text-align: left;
  line-height: 35px;
  color: #222222;
  height: 300px;
  margin-top: 10px;
}
.gnb-submenu li {
  width: 100px;
}
/* //상단메뉴 */

/* 상단블로그 */
.header-blog {
  position: absolute;
  top: 22px;
  left: 88%;
}
/* //상단블로그 */

/* 상단번역기 */
.header-translate {
  display: flex;
  position: absolute;
  top: 21px;
  left: 91%;
  background: #222222;
  padding: 5px 12px;
  border: 0;
  border-radius: 20px;
}

.header-translate a {
  position: relative;
  color: #ffffff;
  font-size: 12px;
}
.header-translate a:first-child {
  padding-right: 10px;
}
.header-translate a:last-child {
  padding-left: 10px;
  opacity: 0.3;
}
.header-translate a:hover {
  opacity: 0.8;
}
.header-translate a:first-child::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  flex-grow: 1;
  transform: translateY(-50%);
  background: #656565;
  width: 1px;
  height: 10px;
  font-size: 0px;
  line-height: 0px;
}
/* //상단번역기 */
