/* 상단종합 */
.header {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  padding: 0 70px;
  overflow: hidden;
  background: #fff;
  transition: height 0.4s;
  z-index: 999;
}
.header-active {
  height: 370px !important;
}
.background {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  background: #f8f8f8;
  width: 100%;
  height: 300px;
}
/* //상단종합 */

/* 상단로고 */
.header-logo {
  position: absolute;
  top: 12px;
}
/* //상단로고 */

/* 상단메뉴 */
.header-nav {
  position: absolute;
  left: calc(50% - 312px);
  width: 625px;
  height: 70px;
  text-align: center;
}
.nav-gnb {
  display: flex;
  justify-content: center;
}
.nav-gnb > li {
  position: relative;
  margin-left: 75px;
}
.nav-gnb > li:first-child {
  margin: 0;
}
.nav-gnb > li > a {
  text-align: center;
  font-family: "NEXNON Lv2 Gothic bold";
  font-size: 21px;
  line-height: 70px;
  font-weight: 400;
  color: #222222;
}
.gnb-submenu {
  position: absolute;
  text-align: left;
  line-height: 35px;
  height: 300px;
  margin-top: 10px;
}
.gnb-submenu li {
  width: 100px;
}
.gnb-submenu> li > a {
  color: #666666;
  font-size: 14px;
  white-space: nowrap;
  transition: color 0.2s;
}
.gnb-submenu > li > a:hover {
  color: #222222;
}
/* //상단메뉴 */

/* 상단블로그 */
.header-blog {
  position: absolute;
  top: 22px;
  right: 175px;
}
/* //상단블로그 */

/* 상단번역기 */
.header-translate {
  display: flex;
  position: absolute;
  top: 21px;
  right: 65px;
  background: #222222;
  padding: 5px 12px;
  border: 0;
  border-radius: 20px;
}

.header-translate a {
  position: relative;
  color: #ffffff;
  font-size: 12px;
}
.header-translate a:first-child {
  padding-right: 10px;
}
.header-translate a:last-child {
  padding-left: 10px;
  opacity: 0.3;
}
.header-translate a:hover {
  opacity: 0.8;
}
.header-translate a:first-child::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  flex-grow: 1;
  transform: translateY(-50%);
  background: #656565;
  width: 1px;
  height: 10px;
  font-size: 0px;
  line-height: 0px;
}
/* //상단번역기 */
/* 반응형 메뉴 아이콘 */
.header-hidden-icon {
  display: none;
  position: fixed;
  right: 10px;
  top: 30px;
  width: 25.72px;
  height: 30px;
  border: 0;
  background: transparent;
  cursor: pointer;
  z-index: 999999;
  font-size: 0;
}
.header-hidden-icon span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
}
.header-hidden-icon span:nth-child(1) {
  background: #222;
  top: 20%;
}
.header-hidden-icon span:nth-child(2) {
  background: #222;
  top: 50%;
}
.header-hidden-icon span:nth-child(3) {
  background: #222;
  top: 80%;
}
.mobile-bt {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.mobile-translate {
  display: flex;
  position: absolute;
  top: 23%;
  right: 80px;
  background: #222222;
  padding: 5px 12px;
  border: 0;
  border-radius: 20px;
}
.mobile-translate a {
  position: relative;
  color: #ffffff;
  font-size: 12px;
}
.mobile-translate a:first-child {
  padding-right: 10px;
}
.mobile-translate a:last-child {
  padding-left: 10px;
  opacity: 0.3;
}
.mobile-translate a:hover {
  opacity: 0.8;
}
.mobile-translate a:first-child::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  flex-grow: 1;
  transform: translateY(-50%);
  background: #656565;
  width: 1px;
  height: 10px;
  font-size: 0px;
  line-height: 0px;
}
.mobile-close-bt {
  position: absolute;
  top: 35%;
  right: 15px;
}
/* //반응형 메뉴 아이콘 */
/* 반응형 메뉴 */
.mobile-menu {
  position: fixed; /* 화면에 고정된 위치로 설정 */
  top: 0; /* 메뉴가 화면 맨 위에 위치하도록 설정 */
  right: -100%; /* 메뉴를 오른쪽으로 숨김 */
  width: 75%; /* 메뉴의 너비 설정 */
  height: 100%; /* 메뉴의 높이 설정 */
  background-color: #fff; /* 배경 색상 설정 */
  transition: right 0.3s ease; /* 애니메이션 효과를 위한 트랜지션 설정 */
  z-index: 999999;
}
.mobile-close-bt {
  cursor: pointer;
}
.mobile-gnb > li {
  height: 51px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.mobile-gnb > li > a {
  display: block;
  width: 100%;
  height: 51px;
  font-size: 16px;
  font-weight: 600;
  line-height: 51px;
  color: #3c6189;
  padding: 0 15px;
}
.mobile-submenu > li {
  background: #eee;
}
.mobile-submenu > li > a {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  color: #222222;
  padding: 0 15px;
}
/* //반응형 메뉴 */
/* 반응형 번역기 */
.mobile-translate-hidden {
  display: none;
  width: 110px;
  height: 33px;
  padding: 8px 12px;
  border: 0;
  border: none;
}
.mobile-translate-hidden a {
  display: inline-block;
  position: relative;
  top: 10px;
  font-size: 15px;
}
.mobile-translate-hidden a:first-child {
  padding-right: 10px;
}
.mobile-translate-hidden a:last-child {
  padding-left: 10px;
  opacity: 0.3;
}
.mobile-translate-hidden a:hover {
  opacity: 0.8;
}
.mobile-translate-hidden a:first-child::after {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  flex-grow: 1;
  transform: translateY(-50%);
  background: #656565;
  width: 1px;
  height: 10px;
  font-size: 0px;
  line-height: 0px;
}
/* 반응형 1440px */
@media screen and (max-width: 1440px) {
  .header {
    height: 100px;
    padding: 0 10px;
  }
  .header-logo {
    top: 25%;
    left: 20px;
  }
  .header-nav {
    display: none;
  }
  .background {
    display: none;
  }
  .header-blog {
    top: 34px;
    right: 190px;
  }
  .header-translate {
    top: 34px;
    right: 80px;
    width: 95px;
  }
  .header-hidden-icon {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 60px;
  }
  .header-logo {
    top: 25%;
    left: 10px;
  }
  .header-logo img {
    width: 110.83px;
    height: 35px;
  }
  .header-nav {
    display: none;
  }
  .background {
    display: none;
  }
  .header-blog {
    top: 15px;
    right: 60px;
  }
  .header-translate {
    display: none;
  }
  .header-hidden-icon {
    top: 12px;
  }
  .mobile-translate {
    display: none;
  }
  .mobile-translate-hidden {
    display: block;
  }
}