.site-banner {
    max-width: 1920px;
    background: #fff;
    width: 100%;
    padding: 0 0 130px;
    z-index: 99;
}
.site-banner > .container {
    position: relative;
}
.banner-title {
    text-align: center;
    margin: 100px 0 0;
    height: 277px;
}
.banner-title h4 {
    font-weight: 300;
    height: 103px;
    padding-bottom: 15px;
    font-size: 66px;
}
.banner-title h2 {
    font-family: "NEXNON Lv2 Gothic bold";
    font-weight: 700;
    font-size: 66px;
    height: 124px;
    padding-bottom: 50px;
}
.banner-title span {
    display: block;
    width: 1px;
    height: 50px;
    margin: 0 auto;
    background: #222222;
}
.banner-iamge {
    position: absolute;
    left: 43%;
    width: 100%;
    max-width: 909px;
    height: 100%;
    max-height: 909px;
}
.banner-intro {
    padding-top: 280px;
    width: 520px;
    text-align: left;
}
.banner-intro p {
    font-family: "NEXON Lv2 Gothic Light";
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    padding: 0 0 50px;
}
@media screen and (max-width: 1650px) {
    .banner-iamge {
        max-width: 832.83px;
        max-height: 832.83px;
    }
}
@media screen and (max-width: 1470px) {
    .banner-iamge {
        max-width: 768.83px;
        max-height: 768.83px;
    }
}
