.site-banner {
    max-width: 1920px;
    background: #fff;
    width: 100%;
    padding: 0 0 130px;
    z-index: 99;
}
.site-banner > .container {
    position: relative;
}
.banner-title {
    text-align: center;
    margin: 100px 0 0;
    height: auto;
    transition: all 0.3s;
}
.banner-title h4 {
    display: block;
    font-weight: 300;
    height: 103px;
    padding-bottom: 15px;
    font-size: 66px;
}
.banner-title h2 {
    display: block;
    font-family: "NEXNON Lv2 Gothic bold";
    font-weight: 700;
    font-size: 66px;
    height: 124px;
    padding-bottom: 50px;
}
.banner-title span {
    display: block;
    width: 1px;
    height: 50px;
    margin: 0 auto;
    background: #222222;
}
.banner-iamge {
    position: absolute;
    left: 43%;
}
.banner-intro {
    padding-top: 280px;
    width: 537.59px;
    text-align: left;
    margin: 0;
}
.banner-intro p {
    display: block;
    font-family: "NEXON Lv2 Gothic Light";
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    padding: 0 0 50px;
    max-height: 151px;
}
@media screen and (max-width: 1650px) {
    .banner-iamge {
        width: 65.065%;
        height: auto;
        left: 42%;
    }
}
@media screen and (max-width: 1470px) {
    .banner-iamge {
        width: 60.065%;
    }
}
@media screen and (max-width: 1440px) {
    .site-banner > .container {
        padding: 0 20px;
    }
    .banner-title {
        margin-top: 200px;
        width: 100%;
        padding: 0 20px;
    }
}
@media screen and (max-width: 1280px) {
    .banner-intro {
        padding-top: 17vw;
    }
    .banner-iamge {
        width: 55%;
    }
    .banner-title h4 {
        height: auto;
        font-size: 5.5vw;
        padding: 0 0 0.1vw 0;
    }
    .banner-title h2 {
        height: auto;
        font-size: 5.5vw;
        padding: 0 0 2.5vw 0;
    }
    .banner-intro {
        padding: 17vw 0 0 0;
    }
    .banner-intro p {
        font-size: 2.1vw;
        height: auto;
        padding: 0 0 3vw 0;
        line-height: 3vw;
    }
}

@media screen and (max-width: 767px) {

}